@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.log_h1 {
  margin-top: 10px;
  text-align: center;
  font-family: monospace;
}

.hidden_email{
  display: none;
}

.login_form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  background:transparent;
  width: 30%;
  margin-left: 75vh;
  margin-bottom: 30px;
}

.box1 input{
  width: 60%;
  height: 30px;
  margin-left: 0%;
  border-radius: 5px;
  margin-top: 20px;
  border: 2px solid turquoise;
  background-color: rgba(97, 43, 122, 0.836);
  padding: 20px;
  color: aliceblue;
  font-family: "Courier New", Courier, monospace;
  font-size: large;
}

.reply_shown{
  display: block;
  margin-top: -20px;
}
.replyuser {
  font-weight: bolder;
  display: inline-block;
  padding-left: 7px;
}
.reply_shown input{
  width: 40%;
  height: 30px;
  margin-left: 0%;
  border-radius: 5px;
  margin-top: 20px;
  border: 2px solid turquoise;
  background-color: rgba(97, 43, 122, 0.836);
  padding: 20px;
  color: aliceblue;
  font-family: "Courier New", Courier, monospace;
  font-size: large;
}



.reply_hidden{
  visibility: hidden;
  margin-top: -80px;
  margin-bottom: 0px;
}

/* .login_form button {
  width: 120px;
  margin-left: 30px;
  font-family: monospace;
  background:linear-gradient(90deg, rgb(10, 129, 197) 0%,rgb(9, 131, 168) 35%, rgba(0,212,255,1) 100%);
  border:hidden;
  border-radius:100px;
  
} */

.buttonRegLog{
  margin-left: 30px;
  font-family: monospace;
  background: none;
  border:hidden;
  color:rgb(0, 0, 0);
}



.login_form input {
  margin: 5px;
  border:turquoise solid 1px;
  width: 70%;
  height: 2rem;
  border-radius: 100px;
  padding:5px;
}

.login_form label {
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.LinkedList,
.Queue,
.Tree {
  display: flex;
  height: 90vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
.Information {
  background: transparent;
  scroll-behavior: smooth;
}
.InformationBox1 {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: table;
  background-attachment: fixed;
  background-image: url("../src/components/images/newwallpaper2.png");
  align-items: center;
  font-family: monospace;
  color:rgb(73,72,201);
}
.InformationBox2 {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: table;
  background-attachment: fixed;
  background-image: url("../src/components/images/wave2.svg");

}
.disc-button{
  width: 120px;
  margin-left: 30px;
  font-family: monospace;
  background:linear-gradient(90deg, rgb(10, 129, 197) 0%,rgb(9, 131, 168) 35%, rgba(0,212,255,1) 100%);
  border:hidden;
  
}
.Infotxtbox {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 2rem;
  color: white;
}


h1 {
  color:rgb(27,20,100);
  font-family: monospace;
  font-weight: bold;
}
h2 {
  color: rgb(69,55,142);
  font-family: monospace;
  font-weight: bold;
}



.Sorting {
  width: 100%;
  overflow: hidden;
  background-image: url("../src/components/images/newwallpaper2.png");
  background-position: center;
  background-size: cover;
  height: 130vh;
  background-attachment: fixed;
}

.ShortestPath {
  width: 100%;
  overflow: hidden;
  background-image: url("../src/components/images/newwallpaper2.png");
  background-position: center;
  background-size: cover;
  height: 115vh;
  background-attachment: fixed;
}

.DataStructures {
  width: 100%;
  overflow: hidden;
  background-image: url("../src/components/images/newwallpaper2.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: table;
  background-attachment: fixed;
  
}
.DSleft {
  width: 60%;
  float: left;
  margin-left: 2%;
  margin-right: unset;
}
.DSright {
  color: white;
  width: 20%;
  float: right;
}
.left-side {
  width: 60%;
  float: left;
}

.right-side {
  color: white;
  width: 20%;
  float: right;
}
.leftInfo {
  width: 60%;
  float: left;
  color:rgb(73,72,201);
  padding: 5rem;
  font-size: 1.15rem;
  /* background-image: url("../src/components/images/bluebox.png"); */
  text-align: justify;

  font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.rounded-container{
  background:white;
  border-radius: 100px;
  border:hidden;
  padding:7%;
}
.boximg {
  position: relative;
  right: 20%;
  top: 180px;
  width: 95%;
}
.boximg2{
  position: relative;
  padding-right: 2%;
  float:right;
  width: 40%;
  top: 180px;

}
.speechbubble1 {
  position: relative;
  float: left;
  left: 10vw;
  bottom: -21vh;
  width: 50%;
}
.speechbubble2 {
  position: relative;
  left: 0px;
  top: 190px;
  width: 50%;
}
.htext {
  font-weight: bold;
  font-size: x-large;
  color: rgb(38, 11, 87);
  font-size: x-large;
}
.girl1 {
  position: relative;
  right: 20vw;
  top: 25vh;
  width: 40%;
  transform: scaleX(-1);
}
.girl2 {
  position: relative;
  right: 175px;
  top: 100px;
  width: 60%;
  transform: scaleX(-1);
}
.rightInfo {
  width: 40%;
  float: right;
  color:rgb(73,72,201);
  font-size: 1.1rem;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.left-panel {
  width: 20%;
  float: left;
}
.ShortestPath .left-panel {
  width: 20%;
  float: left;
}

.ShortestPath .left {
  width: 55%;
}
.ShortestPath .right {
  width: 25%;
}
.ShortestPath .left button {
  font-size: 18px;
  align-content: center;
}
.DataStructures .left-panel {
  width: 17%;
}

.box1 {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: table;
  background-attachment: fixed;
  background-image: url("../src/components/images/newwallpaper.png");
  align-items: center;
  font-family: monospace;
}
.box2 {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: table;
  background-attachment: fixed;
  background: white;
  background-size: cover;
  padding:unset;
}


.box1-login {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display:table;
  background-attachment: fixed;
  background-image: url("../src/components/images/l2.png");
  align-items: center;
  font-family: monospace;
}

.Home {
  scroll-behavior: smooth;
  background-color: black;
}


.quiz{
  background-image: url('../src/components/images/newwallpaper2.png');
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display:table;
  background-attachment: fixed;
}
#typer1 {
  color: rgb(73,72,201);
  text-align: center;
  font-size: 8vh;
  font-weight: 700;
  font-family:Courier;
  padding:3%;
  width:60%;
  padding-right: 5%;
  padding-left: 3%;
  margin-top:5%;
  height: 17%;
}

#typer2 {
  color: rgb(73,72,201);
  font-size: 8vh;
  font-weight: 700;
  font-family:Courier;
  text-align: center;
  margin-top: 5%;
  padding-right: 5%;
  float:right; 

}
.newlogin{
  width: auto;
  height: auto;
  background: #faf9f9;
  position: relative;
  margin-bottom: 25px;
  border-radius: 20px;
  text-align: center;
  color:rgb(81,147,244);
  font-size: large;
  font-weight: semibold;
  line-height: 100px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  text-decoration: none;
  padding:1%;
  margin-left:22%;
  transition: all 0.1s ease-in-out;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
      6px 6px 10px rgba(0, 0, 0, 0.2);
   

  
}  

.newlogin:hover {
  opacity: 0.7;
  box-shadow: -6px -6px 10px rgba(193, 243, 239, 0.959),
    6px 6px 10px rgba(0, 0, 0, 0.2);
  color:darkturquoise;
}
.newlogin:active {
  opacity: 1;
  box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
    inset 8px 8px 16px rgba(0, 0, 0, 0.1);
  color: #79e3b6;
}

 
.message2{
  color:black;
  font-weight:lighter;
  font-size:x-large;
  margin-top:7%;
  margin-left:6.5%;
  text-align: center;
  width:60%;
  font-family: "Montserrat", sans-serif;
}
.members-image{
  margin-left:5%;
  width:34.75rem;
  height:25.5rem;
  float:left;
  margin-top:15%;

}
#typer0 {
  font-family: monospace;
}
.box2 p {
  align-content: center;
  color:rgb(73,72,201);
  font-family: Courier;
  font-weight: 700;
  text-align: center;
  margin-right:4%;
  margin-left:7%;
  margin-top:10%;
  padding:5vh;
  padding-left: 40%;
  font-size: 3vh;
  width: 90%;
}

.TabBox {
  font-size: calc(0.5vh + 0.5vw);
  height: 80vh;
  width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ExecutionTime {
  color:black;
  font-family: monospace;
  text-align: center;
}
.commentform {
  align-content: center;
  display: flex;
  flex-direction: column;
}
.commentform input {
  width: 50%;
  height: 50px;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 5px;
  border: 2px solid turquoise;
  background-color: rgba(97, 43, 122, 0.836);
  padding: 15px;
  color: aliceblue;
  font-family: "Courier New", Courier, monospace;
  font-size: large;
}
.commentform label {
  color: aliceblue;
  text-align: center;
  font-size: large;
}
.commentform button {
  width: fit-content;
  text-align: center;
  margin-left: 48%;
  margin-right: 48%;
}
.cardholder {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: column-reverse;
}

.replyholder{
  margin-top: 15px;
  padding: 10px;
  padding-bottom: 0px;
  padding-left: 30px;
}


.card {
  width: 97%;
  height: auto;
  padding: 20px;
  border-style: double;
  border-width: 6px;
  border-color: turquoise;
  border-radius: 10px;
  margin: 10px;
  color: turquoise;
  text-align: justify;
  font-size: large;
  border-radius: 19px;
  background: rgba(0, 0, 0, 0.788);
  margin-bottom: 10px;
  font-family: monospace;
}
.commentmsg{
  padding-left: 50px;
}
.replymsg{
  padding-left: 28px;
}
.datemsg{
  padding-left: 88%;
}
.user {
  display: inline-block;
  padding-left: 7px;
}
.usericon {
  vertical-align: middle;
}
.commentbtn {
  border: none;
  background: none;
  font-size: large;
  font-family: monospace;
}
.replybtn {
  border: none;
  background: none;
  font-size: large;
  font-family: monospace;
}

.updateinput {
  background:turquoise;
  border-style: hidden;
  color:black;
  font-family: monospace;
  width: 30%;
}

.ideatext{
   color:violet;
   font-weight: bold;
}
/* Backend */
.BackendPage {
  background: rgb(211, 228, 228);
  font-family: monospace;
}
.backend_title{
  color: black;
  font-size: 48px;
  text-align: center;
  font-weight: bold;
}
.userinfo{
  color: black;
}
#listtable {
  background-color: white;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  font-size: large;
}
#listtable td, #listtable th {
  border-bottom: 1px solid rgb(107, 107, 107); 
  padding: 5px;
  color: black;
  
}

#listtable tr:nth-child(even){background-color: #f5f5f5;}

#listtable tr:hover {background-color: #ddd;}

#listtable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgba(86, 139, 139, 0.808);
  color: rgb(0, 0, 0);
}
.deletebtn{
  font-size: 15px;
  background-color: rgba(177, 36, 36, 0.808);
  border-radius: 8px;
  border:rgb(0, 0, 0);
  color: black;
}
.deletebtn:hover{
  background-color: rgba(199, 73, 73, 0.808);
}
.pagination{
  display: inline-block;
  text-align: center;
  margin-left: calc(50% - 350px);

}
.pagination input, .pagination select{
  height: 30px;
}
.pagination button, .backendbtn{
  background-color: rgba(86, 139, 139, 0.808);
  font-size: 15px;
  border-radius: 8px;
  border:rgb(0, 0, 0);
  color: black;
}
.pagination button:hover, .backendbtn:hover{
  background-color: rgba(67, 110, 110, 0.808);
  border-radius: 8px;
  border:rgb(0, 0, 0);
  color: black;
}
.backendchkbox{
  width: 20px;
  height: 20px;
}
.backendcard {
  width: 97%;
  height: auto;
  padding: 20px;
  border-color: solid, 5px;
  margin: 10px;
  color: black;
  text-align: left;
  font-size: large;
  border-radius: 19px;
  background: rgba(255, 255, 255);
  margin-bottom: 10px;
}

.backenduser {
  font-size: 24px;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  display: inline-block;
  padding-left: 7px;
}
.backendreplyuser {
  font-weight: bolder;
  color: rgb(0, 0, 0);
  display: inline-block;
  padding-left: 7px;
}
.backendinput {
  background:rgba(233, 233, 233);
  height: 30px;
  border-style: hidden;
  color:black;
  font-family: monospace;
  width: 100%;
  border-color: rgba(233, 233, 233);
  border-style: solid;
  border-radius: 5px;
}
.AdminPage {
  background-color: rgb(211, 228, 228);
  font-family: monospace;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  
  margin: auto;
}
.backendform {
  position: absolute;
  top: 25%;
  left: 37.5%;
  height: auto;
  text-align: center;
  background-color: rgba(255, 255, 255);
  width: 25%;
  padding: 20px;
  border-color: solid, 5px;
  border-radius: 19px;
}
.passwordfield{
  font-family: monospace;
  font-size: 15px;
  color: black;
  background-color: #00000000;
  border:none;
}
.backendinput{
  width: 160px;
  height: 40px;
  padding: 12px 20px;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.popup{
    background-color: #c7f1ea;
    width: 450px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    
    border-radius: 8px;
    font-family: "Poppins",sans-serif;
    text-align: center;
}
.popup button{
    display: block;
    margin:  0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: #c5c5c5;
    border: none;
    outline: none;
    cursor: pointer;
}
.popup p{
    font-size: 14px;
    text-align: justify;
    margin: 20px 0;
    line-height: 25px;
}

.user-quiz{
  background-color: rgb(216, 243, 255);
}

.buttons-positioned{
  display: flex;
  justify-content: space-between;
}

.button-next{
  margin-left: 87%;
}
.user-quiz > h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 52px;
  text-align: center;
  background-color: rgb(216, 243, 255);
  color: #000000;
  margin-bottom: 2rem;
}

.quiz_deleteButton{
  background-color: rgba(240, 40, 40, 0.777);
  color:black;
}

.quiz_editButton{
  background-color: rgba(202, 230, 26, 0.777);
  color:black;
}
.quiz-maker-container{
  text-align: center;
  font-size: 24px;
  background-color: rgb(216, 243, 255);
}

.quiz-maker-container > h1{
  font-size: 64px;
  background-color: skyblue;
  margin: auto;
}

.grid-questions{
  background-color: rgb(216, 243, 255);
  text-align: center;
}


#quiz-content0{
  background-color: skyblue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 32px;
}

.AVLdiv{
  width: 100%;
  overflow: hidden;
  background-image: url("../src/components/images/newwallpaper2.png");
  background-position: center;
  background-size: cover;
  height: 115vh;
  background-attachment: fixed;
  font-size: 24px;
  margin-bottom: 10px;
}

#quiz-content2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}
