@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
textarea.input-data {
  margin-top: 25px;
  padding: 5px;
  width: 70%;
  height: 15%;
  resize: none;
  background-color: rgba(31, 104, 99, 0.678);
  color:aliceblue;
  border-color: transparent;
  border-radius: 15px;
  padding:10px;
  margin-right: unset;
  font-family: "Montserrat", sans-serif;
}
