@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
.samplecode {
  width: 19%;
  height: 4.2%;
  margin-top: 0.8%;
  float: left;
  position: relative;
  margin-left: 10px;
}

.samplecodebutton {
  width: auto;
  height: auto;
  margin-right:90%;
  text-align: left;
  margin-top:-100%;
  border: none;
  color: white;
  background-color: rgb(103,152,149);
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  padding: 7px;
}

.changecodecontent {
 
  width: 190px;
  height: 200px;
  top: 29%;
  left: 63%;
  right: 25%;
  bottom: 25%;
  overflow:auto;
  align-content: center;
  text-align: center;
  position: fixed;
  border-color:teal;
  border-width: 3px;
  border-style: solid;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.815);
  z-index: 1001;
  color: aliceblue;
  
}


.gosample {
  width: 100%;
  height: auto;
  margin:0px;
  position: relative;
  border-style: solid;
  border-color:teal;
  border-left:hidden;
  border-right:hidden;
  border-top:hidden;
  text-align: center;
  align-content: center;
  background-color:white;
  border-radius: 0px;
  cursor: pointer;
  color: teal;
  font-family: monospace;
}