@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
section.show-section {
  width: 80%;
  height: 50%;
  margin: 0;
  float: left;

}

div.text-show1 {
  width: auto;
  height: auto;
  margin: 1px;
  margin-top: 2.5%;
  float: left;
  position: relative;
  text-align: middle;
  font-weight:bold;
  color: aliceblue;
  font-family: monospace;
  font-size:x-large;
}

.stopping {
  width: auto;
  height: auto;
  margin-top: 2.5%;
  margin-right: 5px;
  float: right;
  position: relative;
  text-align: middle;
  border: none;
  background-color: rgb(103,152,149);
  color: white;
  padding: 7px;
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
}
