.collapsible .toggle {
  cursor: pointer;
  font: unset;
  padding: 0.5rem;
  margin-bottom: unset;
  width: 90%;
  font-family: monospace;
  font-size: larger;
  font-weight: bold;
  background-color:rgb(38,89,166);
  border:transparent;
  color:white;
}

.collapsible .side-toggle {
  cursor: pointer;
  font:small;
  padding: 0.5rem;
  margin-bottom: unset;
  margin-left: 0px;
  width: auto;
  height: 50px;
  background: unset;
  background-color: rgba(77, 132, 199, 0.9);
  border-radius: 0px;
  animation: unset;
  color:rgb(255, 255, 255);
  font-size: large;
  font-family: monospace;
  
}


.collapsible .content {
  padding: 10px;
  text-align: justify;
  background-color: rgba(86, 148, 177, 0);
  color:black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.collapsible .side-content {
  padding: 0.5rem;
  overflow-y: auto;
  height: 50vh;
  text-align: justify;
  background-color: rgba(86, 148, 177, 0);
  width: 100%;
  color: rgb(56, 85, 110);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.collapsible .content-parent {
  height: 0px;
  overflow: hidden;
  transition: height ease 0.3s;
  padding-bottom: 0px;

}

.left-table tr:nth-child(even) {
  background-color: rgba(2, 54, 54, 0.2);
}
.left-table th:nth-child(even),
.left-table td:nth-child(even) {
  background-color: rgba(46, 177, 177, 0.4);
}
.left-table{
  margin-bottom: -10rem;
 
}
