.collapsible .toggle {
  cursor: pointer;
  font: unset;
  padding: 0.5rem;
  margin-bottom: unset;
  width: 90%;
}

.collapsible .side-toggle {
  cursor: pointer;
  font: unset;
  padding: 0.5rem;
  margin-bottom: unset;
  margin-left: 0px;
  width: 50px;
  height: 50px;
  background: unset;
  background-color: rgba(214, 2, 2, 0.726);
  background-size: cover;
  border-radius: 0px;
  animation: unset;
  background-image: url("../images/arrow.png");
}

.collapsible .content {
  padding: 1rem;
  text-align: justify;
}

.collapsible .side-content {
  padding: 1rem;
  text-align: justify;
  background-color: rgba(214, 2, 2, 0.726);
  width: 90%;
  color: aliceblue;
}

.collapsible .content-parent {
  height: 0px;
  overflow: hidden;
  transition: height ease 0.3s;
}
